body {
  background-color: lightgray;
}
#temporary {
  margin: auto;
  width: 50%;
  padding-left: 8%;
}
i {
  padding-right: 2%;
}
.contact-me-buttons {
  width: 100%;
  padding-bottom: 2%;
}
.my-logo {
  height: 20%;
}
.my-sidebar {
  background-color: lightgray;
}
.nav-link {
  margin: auto;
}
#menu {
  margin: auto;
}
#my-menu {
  margin-top: 25px;
}
.btn-group {
  margin-bottom: 25px;
  width: 120px;
}
.my-picture {
  margin: auto;
  width: 100%;
}
.bottom-side {
  margin: auto;
  bottom: 30px;
}
.author {
  color: black;
}
.my-home {
  margin-top: 1px;
}

.about-me-img {
  float: left;
  width: 10%;
}

.profile-pic {
  margin-top: 15%;
  margin-right: 30%;
  height: 50%;
  width: 50%;
}
.title-header {
  font-size: 5rem;
  padding-top: 15%;
}
.page-header {
  height: 100vh;
}
.about-me-header {
  font-size: 3rem;
  margin-top: 3%;
}
h1 {
  float: left;
  margin: auto;
  width: 50%;
  margin-left: 25%;
}
.my-test-class {
  display: flex;
}
.header-box {
  text-align: center;
}
.about-me-pic {
  float: right;
}
.about-me-section {
  height: fit-content;
}
.about-me-story {
  width: 80%;
  font-size: larger;
  margin-left: 13%;
}
.portfolio-section {
  height: fit-content;
}
.port-middle {
  text-align: center;
  display: inline-block;
  margin-right: 5rem;
  border: solid black 2px;
  margin-top: 2rem;
}
.anchor-pics {
  height: 100%;
}
